
@using MvcClothesStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MvcClothesStore.Models.SanPham>
@helper Truncate(string input, int length) 
{ 
    if(input.Length < length) 
        {
            @input
    }
    else
    {
            @input.Substring(0,length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PRODUCT MANAGER</h2>

<p>
    @Html.ActionLink("Create New", "Themmoisp")
</p>
<table class="table">
    <tr>
        <th style="width:200px">
            Product Name
        </th>
        <th style="width:200px">
            Product Image 1
        </th>
        <th style="width:200px">
            Product Image 2
        </th>
        @*<th style="width:200px">
            Product Image 3
        </th>
        <th style="width:200px">
            Product Image 4
        </th>*@
        <th style="width:200px">
            Price
        </th>
        <th style="width:200px">
            Date Time
        </th>
        <th style="width:200px">
            Classify
        </th>
        <th style="width:200px">
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                <img src="@Url.Content("~/images/"+ item.AnhSP)" width="120px;" />
            </td>
            <td>
                <img src="@Url.Content("~/images/" + item.Anh2SP)" width="120px;" />
            </td>
            @*<td>
                <img src="@Url.Content("~/images/"+ item.Anh3SP) width="120px;" />
            </td>
            <td>
                <img src="@Url.Content("~/images/"+ item.Anh4SP) width="120px;" />
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.GiaHienTai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanLoai.TenIdPl)
            </td>
            <td>
                @Truncate(item.Mota, 100)
            </td>
            <td style="width:600px">
                @Html.ActionLink("Edit", "Suasp", new { id = item.MaSP }) |
                @Html.ActionLink("Details", "Chitietsp", new { id = item.MaSP }) |
                @Html.ActionLink("Delete", "Xoasp", new { id = item.MaSP })
            </td>
        </tr>
    }
</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Product", new { page =page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>